* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #060606 0%, #3A3A3A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 12rem; /* Use rem units for consistent sizing */
    min-width: 10rem; /* Set a minimum width */
    max-width: 14rem; /* Set a minimum width */
    background-color: #111111;
}

.sidebar .logo img{
    width: 12rem;
    max-width: 14rem;
    min-width: 10rem;
    padding: 24px;
}


/* UNORDERED LIST */
.sidebar .navigation ul {
    list-style: none;
    padding-top: 2rem;
    margin: 0;
    width: 100%;
}

 /* LIST ITEM */
.sidebar .navigation ul li {
    padding-top: 15px;
    margin-left: 3%;
    text-transform: none;
    font-weight: bold;
    width: 100%;
}

/* ICONS - Used to space the icons and the text*/
.sidebar .navigation .sidebarButton {
    min-width: 110%;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    transform: translateX(-30px);
    color: #888888;
    transition: all 0.5s ease;
}

/* HOVERING OVER SIDEBAR BUTTONS */
.sidebar .navigation .sidebarButton:focus {
    outline: none; /* Remove default outline */
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(17,17,17,0) 100%);
    color: #ffffff;
    transition: all 0.5s ease;
}

/* Active State */
.sidebar .navigation .sidebarButton.active {
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(17,17,17,0) 100%);
    color: #ffffff;
    transform: translateX(-12px);
    transition: all 0.5s ease;
}

/* Hover State */
.sidebar .navigation .sidebarButton:hover {
    color: #ffffff;
    transition: all 0.5s ease;
}


/* POLICIES - COOKIES, PRIVACY*/
.sidebar .policies {
    position: absolute;
    bottom: 20px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a{
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
    color: #f1f1f1;
}

/* MAIN CONTAINER */
.main-container {
    object-fit: cover;
    margin-bottom: 100px;
    justify-content: center; /* Center horizontally */
    max-width: 100%;
    max-height: 100%;
}

.containerContents {
    flex-wrap: wrap;
    margin-left: 12rem;
}

/* TOP BAR */
.topbar {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 120px;
    min-height: 25%;
    max-height: 40%;
}

.topbar .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 11.5rem;
}

.topbar .navbar ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
    justify-content: center;
}

.topbar .navbar ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.topbar .navbar ul li .navbarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make the button fill the li height */
    width: 100%;
    line-height: 1.2; /* Adjust for vertical centering */
    border-radius: 0;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    color: #888888;
    transform: translateY(-8px);
    transition: all 0.4s;
}

/* HOVERING OVER TOPBAR BUTTONS - 4 WEEKS, 6 MONTHS, ALL-TIME */
.topbar .navbar ul li .navbarButton:hover, 
.topbar .navbar ul li .navbarButton:focus {
    color: #f1f1f1;
}

.topbar .navbar ul li .navbarButton.active {
    height: 100%; /* Keep the height consistent when active */
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(6,6,6,0) 100%);
    width: 100%;
    color: #ffffff;
    /* background-color: #1f1f1f; */
    transform: translateY(0px);
  }

.trackIcons {
    padding-bottom: 20px;
    height: auto;
    max-height: 40%;
    width: 100%;
    justify-content: space-between;
}

/* Icons */
.spotify-icons {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    padding: 0px;
}

/* TRACK ICONS */

.trackIcons .spotify-icons h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.trackIcons .spotify-icons .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    gap: 20px;
    max-width: 100%;
}

.trackIcons .spotify-icons .list .item {
    flex: 1 1 calc(12.5% - 20px); /* Adjust percentage to fit items per row */
    max-width: calc(15% - 20px); /* Limit maximum width */
    padding: 0.5rem;  /* Padding based on viewport width */
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.trackIcons .spotify-icons .list .item:hover{
    background-color: #252525;
}

.trackIcons .spotify-icons .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.trackIcons .spotify-icons .list .item h4 {
    color: #ffffff;
    font-size: 1.2rem;
    padding-bottom: 10px;
    overflow-wrap: break-word;

}

.trackIcons .spotify-icons .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    overflow-wrap: break-word;
}

/* Track Table */
.trackTable {
    table-layout: fixed;
    width: 100%;
}

.trackTable .tracks {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97.5%;
    color: #ffffff;
    border-collapse: collapse;
    align-content: space-between;
}
.trackTable thead {
    border-bottom: 1px solid white;
}

.trackTable .trackRows {
    height: 50px;
    color: #ffffff;
    font-weight: bold;
}

.trackTable .tableItems {
	color: #ffffff;
	font-size: 18px;
    height: 40px;
    min-height: 5%;
    width: 100%;
    transition: 0.2s all;
}

.trackTable tr.tableItems:nth-child(odd) {
	background-color: #222222;
}

.trackTable tr.tableItems:nth-child(odd):hover {
	background-color: #323232;
    transition: 0.2s all;
}

.trackTable tr.tableItems:nth-child(even):hover {
	background-color: #2c2c2c;
}

.trackTable .rank {
    padding-left: 4px;
    font-weight: bold;
}

.trackTable .track {
    padding-left: 4px;
}

/* ARTIST ICONS */

.artistIcons .spotify-icons h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.artistIcons .spotify-icons .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    gap: 20px;
    max-width: 100%;
}

.artistIcons .spotify-icons .list .item {
    flex: 1 1 calc(12.5% - 20px); /* Adjust percentage to fit items per row */
    max-width: calc(15% - 20px); /* Limit maximum width */
    padding: 0.5rem;  /* Padding based on viewport width */
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.artistIcons .spotify-icons .list .item:hover{
    background-color: #252525;
}

.artistIcons .spotify-icons .list .item img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    margin-bottom: 1rem;
    display: block;
}

.artistIcons .spotify-icons .list .item h4 {
    color: #ffffff;
    font-size: 1.2rem;
    padding-bottom: 10px;
    overflow-wrap: break-word;

}

.artistIcons .spotify-icons .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    overflow-wrap: break-word;
}

.display {
    display: inline;
}




.topbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 20px;
  }