{% macro artistTable(artists, id, duration) -%}
<div class="trackTable" id="{{ id }}">
    <table class="tracks">
        <thead>
            <tr class = "trackRows">
                <td class="rank">Rank</td>
                <td class="artist">Artist</td>
                <td class="genres">Genres</td>
                <td class="followers">Followers</td>
            </tr>
        </thead>
        {% for artist in artists %}
            <tr class="tableItems artist-item" data-url="{{ artist.external_urls['spotify'] }}" style="cursor: pointer;">
                <td class="rank">{{ loop.index }}</td>
                <td class="track">{{ artist.name }}</td>
                <td class="genres">{{ artist.genres | join(', ') | format_genres }}</td>
                <td class="followers">{{ artist.followers['total'] |format_followers_table }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".artist-item").forEach(function (element) {
        element.addEventListener("click", function () {
            const url = this.getAttribute("data-url");
            window.open(url, "_blank");
            });
        });
    });
</script>
{%- endmacro %}