<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats for Spotify</title>
    <link 
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Numans" />
    <script src="https://kit.fontawesome.com/1eeb84a983.js" crossorigin="anonymous"></script>
</head>
<body onload="initializePage();">
    {% from "trackIcons.html" import trackIcons with context %}
    {% from "trackTable.html" import trackTable with context %}
    {% from "artistIcons.html" import artistIcons with context %}
    {% from "artistTable.html" import artistTable with context %}
    {% from "genreTable.html" import genreTable with context %}

    <script>
        let activeButton = { navbar: null, sidebar: null };
        
        function hideAll() {
            [
                'shortTermTrackIcons', 'mediumTermTrackIcons', 'longTermTrackIcons', 
                'shortTermTrackTable', 'mediumTermTrackTable', 'longTermTrackTable',
                'shortTermArtistIcons', 'mediumTermArtistIcons', 'longTermArtistIcons',
                'shortTermArtistTable', 'mediumTermArtistTable', 'longTermArtistTable',
                'shortTermGenreTable', 'mediumTermGenreTable', 'longTermGenreTable',
                "shortTermHome", "mediumTermHome", "longTermHome"
            ].forEach(id => {
                const element = document.getElementById(id);
                if (element) {
                    element.style.display = 'none';
                }
            });
        }
        
        function showTrackContent(id) {
            const contentIds = {
                'shortTermTracks': ['shortTermTrackIcons', 'shortTermTrackTable'],
                'mediumTermTracks': ['mediumTermTrackIcons', 'mediumTermTrackTable'],
                'longTermTracks': ['longTermTrackIcons', 'longTermTrackTable'],
            };
        
            hideAll();
            contentIds[id]?.forEach(contentId => {
                document.getElementById(contentId).style.display = 'inline-block';
            });
        }
        
        function showArtistContent(id) {
            const contentIds = {
                'shortTermArtists': ['shortTermArtistIcons', 'shortTermArtistTable'],
                'mediumTermArtists': ['mediumTermArtistIcons', 'mediumTermArtistTable'],
                'longTermArtists': ['longTermArtistIcons', 'longTermArtistTable'],
            };
        
            hideAll();
            contentIds[id]?.forEach(contentId => {
                document.getElementById(contentId).style.display = 'inline-block';
            });
        }

        function showGenreContent(id) {
            const contentIds = {
                'shortTermGenres': ['shortTermGenreTable'],
                'mediumTermGenres': ['mediumTermGenreTable'],
                'longTermGenres': ['longTermGenreTable'],
            };

            hideAll();
            contentIds[id]?.forEach(contentId => {
                document.getElementById(contentId).style.display = 'inline-block';
            });
        }
        
        function showHomeContent(id) {
            const contentIds = {
                'shortTermHome': ['shortTermArtistIcons', 'shortTermTrackIcons'],
                'mediumTermHome': ['mediumTermArtistIcons', 'mediumTermTrackIcons'],
                'longTermHome': ['longTermArtistIcons', 'longTermTrackIcons'],
            };
        
            hideAll();
            contentIds[id]?.forEach(contentId => {
                document.getElementById(contentId).style.display = 'inline-block';
            });
        }
        
        function handleButtonClick(event, type) {
            if (activeButton[type] && activeButton[type] !== event.target) {
                activeButton[type].classList.remove('active');
            }
        
            event.target.classList.add('active');
            activeButton[type] = event.target;
        }
        
        function initializePage() {
            hideAll();
        
            // Use event delegation for sidebar buttons
            document.querySelector('.navigation ul').addEventListener('click', (event) => {
                const button = event.target.closest('button'); // Find the closest button
                if (button) {
                    handleSidebarButton({ target: button });
                }
            });
        
            document.querySelectorAll('.navbarButton').forEach(button => {
                button.addEventListener('click', (e) => handleNavbarClick(e));
            });
        
            const defaultHome = document.getElementById('defaultHome');
            defaultHome && handleButtonClick({ target: defaultHome }, 'sidebar');
        
            const default4Weeks = document.getElementById('default4Weeks');
            default4Weeks && handleButtonClick({ target: default4Weeks }, 'navbar');
            showHomeContent('shortTermHome');
        }
        
        function handleSidebarButton(event) {
            handleButtonClick(event, 'sidebar');
            if (activeButton['sidebar'] && activeButton['sidebar'].classList.contains('homeButton')) {
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('4Weeks')) {
                    showHomeContent('shortTermHome');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('6Months')) {
                    showHomeContent('mediumTermHome');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('Alltime')) {
                    showHomeContent('longTermHome');
                } 
            }
        
            if (event.target.classList.contains('topArtistsButton')) {
                // Hide all tracks when any other sidebar button is clicked
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('4Weeks')) {
                    showArtistContent('shortTermArtists');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('6Months')) {
                    showArtistContent('mediumTermArtists');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('Alltime')) {
                    showArtistContent('longTermArtists');
                } 
            }
        
            if (event.target.classList.contains('topTracksButton')) {
                // Show default short-term tracks if the "Tracks" button is clicked
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('4Weeks')) {
                    showTrackContent('shortTermTracks');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('6Months')) {
                    showTrackContent('mediumTermTracks');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('Alltime')) {
                    showTrackContent('longTermTracks');
                } 
            }
        
            if (event.target.classList.contains('topGenresButton')) {
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('4Weeks')) {
                    showGenreContent('shortTermGenres');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('6Months')) {
                    showGenreContent('mediumTermGenres');
                } 
                if (activeButton['sidebar'] && activeButton['navbar'].classList.contains('Alltime')) {
                    showGenreContent('longTermGenres');
                } 
            }
        }
        
        function handleNavbarClick(event) {
            handleButtonClick(event, 'navbar');
        
            // Ensure "Top Tracks" is active before changing content
            if (activeButton['sidebar'] && activeButton['sidebar'].classList.contains('homeButton')) {
                if (event.target.id === 'default4Weeks') {
                    showHomeContent('shortTermHome');
                } else if (event.target.textContent.includes('6 Months')) {
                    showHomeContent('mediumTermHome');
                } else if (event.target.textContent.includes('All-Time')) {
                    showHomeContent('longTermHome');
                }
            }
            if (activeButton['sidebar'] && activeButton['sidebar'].classList.contains('topArtistsButton')) {
                if (event.target.id === 'default4Weeks') {
                    showArtistContent('shortTermArtists');
                } else if (event.target.textContent.includes('6 Months')) {
                    showArtistContent('mediumTermArtists');
                } else if (event.target.textContent.includes('All-Time')) {
                    showArtistContent('longTermArtists');
                }
            }
            if (activeButton['sidebar'] && activeButton['sidebar'].classList.contains('topTracksButton')) {
                if (event.target.id === 'default4Weeks') {
                    showTrackContent('shortTermTracks');
                } else if (event.target.textContent.includes('6 Months')) {
                    showTrackContent('mediumTermTracks');
                } else if (event.target.textContent.includes('All-Time')) {
                    showTrackContent('longTermTracks');
                }
            }
        
            if (activeButton['sidebar'] && activeButton['sidebar'].classList.contains('topGenresButton')) {
                if (event.target.id === 'default4Weeks') {
                    showGenreContent('shortTermGenres');
                } else if (event.target.textContent.includes('6 Months')) {
                    showGenreContent('mediumTermGenres');
                } else if (event.target.textContent.includes('All-Time')) {
                    showGenreContent('longTermGenres');
                }
            }
        }
        </script>
        

    <div class="sidebar">
        <div class="logo">
            <button class="fa-solid fa-headphones" >&nbsp&nbspSpotistics</button>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <button id="defaultHome" class="sidebarButton homeButton"onclick="handleSidebarButton(event)">
                        <i class = "fa fa-home"></i> <span class="display-top">Home</span>
                    </button>
                </li>
                <li>
                    <button class="sidebarButton topArtistsButton" onclick="handleSidebarButton(event)">
                        <i class = "fa-solid fa-user"></i> <span class="display-top">Top Artists</span>
                    </button>
                </li>
                <li>
                    <button class="sidebarButton topTracksButton" onclick="handleSidebarButton(event)">
                        <i class = "fa-solid fa-music"></i> <span class="display-top">Top Tracks</span>
                    </button>
                </li>

                <!--
                <li>
                    <button class="sidebarButton topGenresButton" onclick="handleSidebarButton(event)">
                        <i class = "fa-solid fa-chart-bar"></i> <span class="display-top">Top Genres</span>
                    </button>
                </li>
                -->
            </ul>
        </div>

        <div class="policies">
            <ul>
                <li>
                    <a href="#">Cookies</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="topbar">
            <div class="navbar">
                <ul>
                    <li><button id="default4Weeks" class="navbarButton 4Weeks" onclick="handleNavbarClick(event)">4 Weeks</button></li>
                    <li><button class="navbarButton 6Months" onclick="handleNavbarClick(event)">6 Months</button></li>
                    <li><button class="navbarButton Alltime" onclick="handleNavbarClick(event)">All-Time</button></li>
                </ul>

            </div>
        </div>

        <div class="dropdown">
            <button class="user">
                <i class = "fa-solid fa-circle-user"></i><span class="display-name">&nbsp&nbsp{{ user_display_name }}</span>
            </button>
            <div class="dropdown-content">
                <a href="logout">Log out</a>
            </div>
        </div>
        
        <div class="containerContents">
            <div id="shortTermTrackIcons" class="trackIcons">
                {{ trackIcons(shortTermTracks['items'], 'shortTermTrackIcons', 'LAST MONTH') }}
            </div>
            <div id="mediumTermTrackIcons" class="trackIcons">
                {{ trackIcons(mediumTermTracks['items'], 'mediumTermTrackIcons', 'LAST 6 MONTHS') }}
            </div>
            <div id="longTermTrackIcons" class="trackIcons">
                {{ trackIcons(longTermTracks['items'], 'longTermTrackIcons', 'ALL TIME') }}
            </div>
            <div id="shortTermTrackTable" class="trackTable">
                {{ trackTable(shortTermTracks['items'], 'shortTermTrackTable', 'LAST MONTH') }}
            </div>
            <div id="mediumTermTrackTable" class="trackTable">
                {{ trackTable(mediumTermTracks['items'], 'mediumTermTrackTable', 'LAST 6 MONTHS') }}
            </div>
            <div id="longTermTrackTable" class="trackTable">
                {{ trackTable(longTermTracks['items'], 'longTermTrackTable', 'ALL TIME') }}
            </div>

            <div id="shortTermArtistIcons" class="artistIcons">
                {{ artistIcons(shortTermArtists['items'], 'shortTermArtistIcons', 'LAST MONTH') }}
            </div>
            <div id="mediumTermArtistIcons" class="artistIcons">
                {{ artistIcons(mediumTermArtists['items'], 'mediumTermArtistIcons', 'LAST 6 MONTHS') }}
            </div>
            <div id="longTermArtistIcons" class="artistIcons">
                {{ artistIcons(longTermArtists['items'], 'longTermArtistIcons', 'ALL TIME') }}
            </div>

            <div id="shortTermArtistTable" class="trackTable">
                {{ artistTable(shortTermArtists['items'], 'shortTermArtistTable', 'LAST MONTH') }}
            </div>
            <div id="mediumTermArtistTable" class="trackTable">
                {{ artistTable(mediumTermArtists['items'], 'mediumTermArtistTable', 'LAST 6 MONTHS') }}
            </div>
            <div id="longTermArtistTable" class="trackTable">
                {{ artistTable(longTermArtists['items'], 'longTermArtistTable', 'ALL TIME') }}
            </div>

            <div id="shortTermGenreTable" class="genreTable">
                {{ genreTable(shortTermGenres, 'shortTermGenreTable', 'LAST MONTH') }}
            </div>
            <div id="mediumTermGenreTable" class="genreTable">
                {{ genreTable(mediumTermGenres, 'mediumTermGenreTable', 'LAST 6 MONTHS') }}
            </div>
            <div id="longTermGenreTable" class="genreTable">
                {{ genreTable(longTermGenres, 'longTermGenreTable', 'ALL TIME') }}
            </div>
        </div>
    </div>
</body>
</html>